!!!
%html{:lang => "en"}
  %head
    %title Bootstrap Example
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "js/scripts.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
  %body.home
    %nav.navbar.navbar-default{:role => "navigation"}
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => "#"} Find Jobs
            %li
              %a{:href => "#"} Find Resumes
            %li
              %a{:href => "#"} Employers / Post Job
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Upload your resume
            %li
              %a{:href => "#"} Sign in
    .container
      .row
        .logo
          %img{:src => "images/job_search_indeed.png"}/
      .row
        .what.col-sm-6.col-md-5
          %label.label-main{:for => "what"}what:
          %input.form-control#what{:type => "text"}
          %label.label-sub{:for => "what"}job title, keywords or company name
        .where.col-sm-6.col-md-5
          %label.label-main{:for => "where"}where:
          %input.form-control#where{:type => "text"}
          %label.label-sub{:for => "where"}city, state or zip code
        .col-md-2.find-jobs-container
          %a{:href => "results.html"}
            %button.btn.btn-primary.find-jobs{:type => "button"}Find Jobs
          %br
          %a.link-small{:href => "#"}Advanced Search
      .row.indeed-info.text-center
        %p
          %a.post-icon{:href => "#"}
            %span
          %a.bold{:href => "#"}Post your resume          
          %span - It only takes a few seconds
        %p.welcome-message 814,582 new jobs in the last 7 days<br />Search job sites, newspapers, associations and company career pages.
        %p.learn-more Learn more about <a href="#">How the world works<a>
    %footer{:role => "nav"}
      .col-lg-6
        %ul.footer-left-links.list-inline.text-left
          %li.dash-after
            %a{:href => "#"}Salaries
          %li.dash-after
            %a{:href => "#"}Trends
          %li.dash-after
            %a{:href => "#"}Browse Jobs
          %li.dash-after
            %a{:href => "#"}API
          %li.dash-after
            %a{:href => "#"}Countries
          %li.dash-after
            %a{:href => "#"}About
          %li
            %a{:href => "#"}Help Center
      .col-lg-6.terms
        %a{:href => "#"}Cookies, Privacy, and Terms
          
                