!!!
%html{:lang => "en"}
  %head
    %title Bootstrap Example
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
    %script{:src => "js/scripts.js"}
  %body.results
    %nav.navbar.navbar-default{:role => "navigation"}
      %button.navbar-toggle{"data-target" => ".main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container-fluid
        .collapse.main-navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => "#"} Find Jobs
            %li
              %a{:href => "#"} Find Resumes
            %li
              %a{:href => "#"} Employers / Post Job
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Upload your resume
            %li
              %a{:href => "#"} Sign in
    .container
      .row
        .logo.col-sm-12.col-md-3
          %img{:src => "images/job_search_indeed.png"}/        
        .what.col-sm-5.col-md-3
          %label.label-main{:for => "what"}what:
          %input.form-control#what{:type => "text"}
          %label.label-sub{:for => "what"}job title, keywords or company name
        .where.col-sm-5.col-md-3
          %label.label-main{:for => "where"}where:
          %input.form-control#where{:type => "text"}
          %label.label-sub{:for => "where"}city, state or zip code
        .col-sm-2.col-md-3.find-jobs-container
          %button.btn.btn-primary.find-jobs{:type => "button"}Find Jobs
          %br
          %a.link-small{:href => "#"}Advanced Search
    .container.results-content
      .row
        .col-xs-12.col-sm-3
          %nav.navbar.navbar-default{:role => "navigation"}
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span Filter Results
            .collapse.navbar-collapse
              %ul.nav.nav-stacked
                %li.distance-dropdown
                  %label{:for => "distance"}
                  .dropdown
                    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      within 25 miles
                      %span.caret
                    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                      %li
                        %a{:href => "#"} Exact location only
                      %li
                        %a{:href => "#"} within 10 miles
                      %li
                        %a{:href => "#"} within 25 miles
                      %li
                        %a{:href => "#"} within 50 miles
                %li#filters
                  .panel-group#accordion
                    .panel.panel-default
                      .panel-heading
                        %p
                          %i.indicator.glyphicon.glyphicon-triangle-bottom
                          %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseOne"} Salary Estimate
                      #collapseOne.panel-collapse.collapse.in
                        .panel-body
                          %ul.list-unstyled
                            %li
                              %a{:href => '#'} $30,000+
                            %li
                              %a{:href => '#'} $40,000+
                            %li
                              %a{:href => '#'} $50,000+
                            %li
                              %a{:href => '#'} $60,000+
                    .panel.panel-default
                      .panel-heading
                        %p
                          %i.indicator.glyphicon.glyphicon-triangle-bottom
                          %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseTwo"} Job Type
                      #collapseTwo.panel-collapse.collapse
                        .panel-body
                          %ul.list-unstyled
                            %li
                              %a{:href => '#'} Full-time
                            %li
                              %a{:href => '#'} Part-time
                            %li
                              %a{:href => '#'} Internship
                            %li
                              %a{:href => '#'} Contract
                    .panel.panel-default
                      .panel-heading
                        %p
                          %i.indicator.glyphicon.glyphicon-triangle-bottom
                          %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseThree"} Location
                      #collapseThree.panel-collapse.collapse
                        .panel-body
                          %ul.list-unstyled
                            %li
                              %a{:href => '#'} Bloomington, IN
                            %li
                              %a{:href => '#'} Martinsville, IN
                            %li
                              %a{:href => '#'} Spencer, IN
                            %li
                              %a{:href => '#'} Bedford, IN
        .col-xs-12.col-sm-9.col-md-6.result-list
          .row.post-your-resume
            .col-sm-8
              %a{:href => "#"}Post your resume          
              %span - Let employers find you
            .col-sm-4.text-right
              %span.job-numbers Jobs 1 to 10 of 99
          .row.result-container
            - 5.times do
              %ul.list-unstyled
                %li.result
                  %a.result-title{:href => "#"} Senior Web Developer<br /> 
                  %span.result-company.dash-after Indiana University
                  %span.result-location Bloomington, IN
                  %p.result-description Lorem ipsum dolor sit amet, ad dictas verterem voluptatibus mea, te harum rationibus est. An vim wisi tractatos, ex ridens regione inermis qui. Ne nemore alienum inciderint pro, ne doctus torquatos sit...
                  %p.ez-apply Easily apply 
                  %p
                    %span.days-ago.dash-after 3 days ago
                    %a.email-link{:href => "mailto:"}Email
          .row.results-email-form
            .email-form
              %p.email-form_header Get new jobs for this search by email  
              %label{:for => "email-address1", :value => ""}
                My email:
                %br
                %input#email-address1
              .checkbox
              %label
                %input{:type => "checkbox", :value => ""}>/
                &nbsp;&nbsp;Also get an email with jobs recommended just for me
              %br
              %button.btn.btn-default{:type => "button"}Activate
              %p.tiny-text You can cancel email alerts at any time
          .row.pages
            %nav
              %ul.pagination
                %li.disabled
                  %a{"aria-label" => "Previous", :href => "#"}
                    %span{"aria-hidden" => "true"} «
                %li.active
                  %a{:href => "#"}
                    1
                    %span.sr-only (current)
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
                %li
                  %a{:href => "#"} 4
                %li
                  %a{:href => "#"} 5
                %li
                  %a{:href => "#"} 6
                %li
                  %a{:href => "#"} 7
                %li
                  %a{"aria-label" => "Next", :href => "#"}
                    %span{"aria-hidden" => "true"} »                        
        .hidden-xs.hidden-sm.col-md-3.email-form
          .email-form
            %p.email-form_header Get new jobs for this search by email  
            %label{:for => "email-address1", :value => ""}
              My email:
              %br
              %input#email-address1
            .checkbox
            %label
              %input{:type => "checkbox", :value => ""}>/
              &nbsp;&nbsp;Also get an email with jobs recommended just for me
            %button.btn.btn-default{:type => "button"}Activate
            %p.tiny-text You can cancel email alerts at any time
      .result-footer{:role => "nav"}
        .footer-links.text-center
          %ul.list-inline
            %li.dash-after
              %a{:href => "#"}Salaries
            %li.dash-after
              %a{:href => "#"}Trends
            %li.dash-after
              %a{:href => "#"}Browse Jobs
            %li.dash-after
              %a{:href => "#"}API
            %li.dash-after
              %a{:href => "#"}Countries
            %li.dash-after
              %a{:href => "#"}About
            %li
              %a{:href => "#"}Help Center
        .terms.text-center
          %a{:href => "#"}Cookies, Privacy, and Terms